:root {
    --text-color: #f0f4f5;
}

html, body {
    height: 100vh;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:var(--text-color);
    display: inline-block;
    width: 100%;
}

.hidden {
    display: none;
}

#login-form {
    margin-top: 35vh;
}

#login-form-title {
    font-size: 6vh;
}

#login-form-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--text-color);
    text-align: center;
    color: var(--text-color);
    font-size: 7vh;
}

#login-form-input:focus {
    background: transparent;
    outline: none;
    text-align: center;
    caret-color: var(--text-color);
}

#clock {
    font-size: 9vh;
    margin-bottom: 0px;
    margin-top: 25vh;
}

#greeting {
    font-size: 5vh;
    margin-top: 0px;
}

#todo-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--text-color);
    text-align: center;
    font-size: 2.5vh;
    color: var(--text-color);
}

#todo-input:focus {
    background: transparent;
    outline: none;
    text-align: center;
    caret-color: var(--text-color);
}

#todo-list {
    margin: auto;
    margin-top: 2vh;
    list-style-type: none;
    max-height: 20vh;
    max-width: 600px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#todo-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#todo-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

#todo-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

#todo-list::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.4);
}

#todo-list::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,.9);
}

#todo-list > li {
    font-size: 1.8vh;
    margin-bottom: 10px;
}

#todo-title {
    font-size: 2.5vh;
}

.remove-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

.remove-button:hover {
    cursor: pointer;
}

#weather {
    position: absolute;
    top: 20px;
    right: 40px;
}

#weather > p {
    margin: 0;
}

#quote {
    position: absolute;
    bottom: .5vh;
    left: 50%;
    transform: translate(-50%, 0);
    color:var(--text-color);
}

#quote > span {
    font-style: italic;
}

#quote > p {
    margin-top: 5px;
    font-size: 12px;
}

.fa-trash-can {
    color: var(--text-color);
}
